<style>

h1 
	{
		font-family: 'Nunito Sans', sans-serif;
		font-size: 40px;
		font-weight: 700;
	}

h2
	{
		font-family: 'Nunito Sans', sans-serif;
		font-size: 30px;
		font-weight: 700;
	}

figure.lead
	{
		display:block;
		width: 95%;
		margin: auto;
	}

figure.body
	{
		display: block;
		max-width: 640px;
		margin: auto;
	}

figcaption
	{
		color: #7e7e7e;
		font-style: italic;
		text-align: center;
	}

.content
	{
		max-width: 640px;
		margin: auto;
	}

.top
	{
		max-width: 800px;
		margin: auto;

	}

iframe
	{
		display: block;
		width: 640px;
		height: 480px;
		margin: auto;
		border: none;
}

hr
 {
 	color: #999999;
 	margin-top: 20px;
 }

 p
 	{
 		font-family: Georgia, serif;
 		font-size: 17px;
 		line-height: 28px;
 	}