<style>

h1 
	{
		font-family: 'Nunito Sans', sans-serif;
		font-size: 40px;
	}

h2
	{
		font-family: 'Nunito Sans', sans-serif;
		font-size: 30px;
	}

img
	{
		display: block;
		max-width: 800px;
		margin: auto;
	}

.content
	{
		max-width: 636px;
		margin: auto;
	}

hr
 {
 	color: #eeeeee;
 	margin-top: 20px;
 }

 p
 	{
 		font-family: Georgia, serif;
 		font-size: 17px;
 		line-height: 28px;
 	}