<style>

h1 
	{
		font-family: 'Nunito Sans', sans-serif;
		font-size: 40px;
	}

h2
	{
		font-family: 'Nunito Sans', sans-serif;
		font-size: 30px;
	}

img
	{
		max-width: 740px;
		margin: auto;
	}

.content
	{
		max-width: 740px;
		margin: auto;
	}

hr
 {
 	color: #eeeeee;
 }